<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FirebaseHandler"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Raptor"
        tools:targetApi="31">
        <activity
            android:name=".Dospem.NotifikasiActivity"
            android:exported="false" />
        <activity
            android:name=".Dospem.LaporanDetailDospemActivity"
            android:exported="false" />
        <activity
            android:name=".Dospem.LaporanDospemActivity"
            android:exported="false" />
        <activity
            android:name=".Dospem.ProfileDospemActivity"
            android:exported="false" />
        <activity
            android:name=".Dospem.DospemActivityHome"
            android:exported="false" />
        <activity
            android:name=".Mahasiswa.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Mahasiswa.HasilLaporanActivity"
            android:exported="false" />
        <activity
            android:name=".Mahasiswa.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Mahasiswa.LaporanFile"
            android:exported="false" />
        <activity
            android:name=".Mahasiswa.DetailLaporanActivity"
            android:exported="false" />
        <activity
            android:name=".Mahasiswa.ListLaporanActivity"
            android:exported="false" />
        <activity
            android:name=".Mahasiswa.FormLaporanActivity"
            android:exported="false" />
        <activity
            android:name=".Mahasiswa.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Mahasiswa.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>